@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: Oswald, sans-serif;
    text-decoration: none;
}


main > .img-principal {
    max-width: 720px;
    width: 100%;
    margin: auto;
}

main {
    background-color: aqua;
    width: 100%;
}

.painel {
    font-size: 1.1em;
}

.itens-menu {
    background-color: black;
}



.sub-painel-superior img{
    height: 60%;

}

#oliver-fundation {
    height: 70px;
}