@charset "UTF-8";

/* @font-face {
    font-family: 'Tungstein';
    src: url('../fonts/Tungsten.ttf') format(truetype);
    font-weight: normal;
    font-size: normal;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: Oswald, sans-serif;
    text-decoration: none;
    

}

body {
    background-color: black;
    color: rgb(112, 112, 112);
}

header {
    color: rgb(197, 197, 197);
}

main > img {
    max-width: 435px;
    width: 100%;

}

i#burger {
    background-color: rgb(70, 70, 70);
    display: block;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    padding: 10px;
}

nav {
    display: none;
}

header a {
    text-decoration: none;
    background-color:  rgb(70, 70, 70);
    text-align: center;
    margin: 10px 0px;
    padding: 5px;
    display: block;
    color: rgb(197, 197, 197);
}


i#burger:hover, li:hover, a:hover{
    background-color: white;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


.painel {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    margin: 8px;
    border-radius: 5px;
    background-image: linear-gradient( rgb(226, 226, 226), rgb(39, 39, 39));
    box-shadow: 0px 0px 20px 1px rgb(0, 37, 2);
    height: 80px;
    width: 80%;
}


.sub-painel-superior {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-evenly;
    
}

.sub-painel-superior > p {
    text-shadow: 0.5px 0.5px white, -0.5px -0.5px  rgb(39, 39, 39);
    color: rgb(32, 32, 32);
    margin-top: 30px;
}
.sub-painel-superior > img {
    height: 70px;
}

.sub-painel-inferior {
    color: rgb(175, 174, 174);
    width: 100%;
    background-image: linear-gradient(rgb(17, 17, 17) 50%, rgb(34, 34, 34));
    border-radius: 0px 0px 10px 10px;

}


main {
/*     background-image: url(../imagens/background_home.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center; */
    width: 90vw;
    height: 65vh;
    margin: auto;

}


footer {
    align-self: end;
    font-size: 1.8em;

}

footer i {
    color: rgba(128, 128, 128, 0.493);
    margin: 10px;
}

footer i:hover {
    color: white;
    
}

footer img {
    width: 80px;
    border: 1px solid white;
    display: none;
}

footer div{
    width: 100%;
    text-align: center;
}


footer small {
    font-size: .4em;
}

a {
    color: rgb(128, 128, 128);
}